<header>
	<nav>
		<div>
			<ul>
                <li><a class="logo" href="/"><img src="/assets/images/phguardian.png" alt="Guardian"></a></li>
				<li><a class="menuitem" href="/quem-somos">Quem somos</a></li>
				<li><a class="menuitem" href="/planos-precos">Planos e Preços</a></li>
				<li><a class="menuitem" href="/ccih">CCIH</a></li>
				<li><a class="menuitem" href="/consultoria">Consultoria</a></li>
				<li><a class="menuitem" href="/blog">Blog</a></li>
			</ul>
		</div>
		<div>
			<ul>
				<li><a class="login" href="https://app.phguardian.com">Login</a></li>
				<li><a class="cta" href="/contato">Contrate aqui</a></li>
			</ul>
		</div>
	</nav>
    {% if page.layout == 'post' %}
    <div class="header-post">
        <div>
            <h1>{{ page.title }}</h1>
        </div>
    </div>
    {% else %}
    <div class="hero-module">
        <div>
            <h1>{{ page.title }}</h1>
            {% if page.description_html %}
        	<h2>
                {{ page.description_html }}
            </h2>
            {% else %}
        	<h2>{{ page.description }}</h2>
            {% endif %}
        </div>
    </div>
    {% endif %}
</header>
