<div class="home_contact">
    <h2 class="center">
        Ainda não utiliza o PH Guardian?
    </h2>
    <p class="center">
        Preencha uma solicitação de contato.
    </p>

    <form accept-charset="UTF-8" action="https://formsubmit.io/send/d0f13677-743a-4192-a429-2e2ad4725784" method="POST">
        <input type="hidden" name="page" value="contato site">
		<input name="_redirect" type="hidden" value="/mensagem-enviada">
		<input name="_formsubmit_id" type="text" style="display:none">
        <div>
            <label for="">Nome do hospital/clínica</label>
            <input type="text" name="hospital_name" />
        </div>

        <div>
            <label for="">Cidade/UF</label>
            <input type="text" name="locality" />
        </div>
        <div>
            <label for="">DDD + telefone ou Whatsapp</label>
            <input type="text" name="phone" />
        </div>
        <div>
            <label for="">Seu nome</label>
            <input type="text" name="name" />
        </div>
        <div>
            <label for="">Seu e-mail</label>
            <input type="email" name="email" />
        </div>
        <div class="center">
            <button type="submit" name="subscribe">Enviar solicitação de contato</button>
        </div>
    </form>
</div>
