<div class="home_contact">
    <h2 class="center">
        Ainda não utiliza o PH Guardian?
    </h2>
    <p class="center">
        Preencha uma solicitação de contato.
    </p>

    <form action="">
        <div>
            <label for="">Nome do hospital/clínica</label>
            <input type="text" name="hospital_name" />
        </div>

        <div>
            <label for="">Cidade/UF</label>
            <input type="text" name="locality" />
        </div>
        <div>
            <label for="">DDD + telefone ou Whatsapp</label>
            <input type="text" name="phone" />
        </div>
        <div>
            <label for="">Seu nome</label>
            <input type="text" name="name" />
        </div>
        <div>
            <label for="">Seu e-mail</label>
            <input type="email" name="email" />
        </div>
        <div class="center">
            <button type="submit" name="subscribe">Enviar solicitação de contato</button>
        </div>
    </form>
</div>
