$dark-grey: #222;
$medium-grey: #666;
$light-grey: #ccc;

$link-color: #1d2e49;
$link-hover-color: #38495e;

$header-color: #1d2e49;
$dark-header-color: #38495e;

$inverted: #e38125;

$link-color: #38495e;
$link-hover-color: #1d2e49;

$blue: #1d2e49;
$green: #2e491c;
$red: #491c2e;

$text: #4d4d4d;
$light-text: #4d4d4d;

.blue {
  color: $blue;
}
.green {
  color: $green;
}
.red {
  color: $red;
}
