html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

body {
  background-color: #f6f6f8;
  background-color: #fff;
  color: #4d4d4d;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  line-height: 1.2em;
}

a {
  color: $link-color;
  text-decoration: none;
  font-weight: 700;
}
a:hover {
  color: $link-hover-color;

  text-decoration: none;
}
button {
  background: transparent;
  cursor: pointer;
}

p {
  margin: 0.6em 0;
  line-height: 1.4em;
}
p.larger {
  font-size: 1.3em;
  line-height: 1.4em;
}

h2 {
  color: $dark-header-color;
  font-size: 2rem;
  margin: 1em 0 0.84em;
  line-height: 1.2em;
}

h3, h3 a {
  color: $header-color;
  font-size: 1.4rem;
  text-decoration: none;
  margin: 0 0 0.6em 0;
  padding: 0;
  line-height: 1em;
}
h3 a:hover {
  color: $dark-header-color;
}

h4, h4 a {
  font-size: 1.2rem;
  text-decoration: none;
  margin: 1.2em 0 0.42em;
  padding: 0;
  line-height: 1em;
}

main {
  background-color: #fff;
}

main > section {
  margin: 0;
  padding: 0;
  width: 100%;
  border: 0;
}

main ul {
  list-style: none;
}
main ul li {
  margin: 0.42em 0;
}
main ul li a {
}

.middle {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}

.center {
  text-align: center;
}

.about-us {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  padding: 0;
  border: 0;
}
.about-us p {
  margin: 0 0 1em 0;
}
.about-us img {
  display: none;
}

.our-values {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
  border: 0;
  margin: 1em 0;
}
.our-values > div {
  position: relative;
  padding: 1em;
}
.our-values svg {
  height: 50px;
  color: #1d2e49;
}

.note {
  border-radius:5px !important;
  -moz-border-radius:5px !important;
  -webkit-border-radius:5px !important;
  -o-border-radius:5px !important;
  -ms-border-radius:5px !important;
  border: 1px solid #eaecef;
  border-color: #eaecef !important;

  box-shadow: 4px 4px 20px 0 rgba(120,135,182,.12);
  box-shadow: 0 8px 24px rgba(149,157,165,.2) !important;
  background-color: #fff;
  padding: 8px 0.8em;
  width: 80%;
  margin: 2em auto;

}
.cite-note {
  font-size: 0.8em;
}

.faq-accordion {
  margin: 1em 0;
}
.question {
  border-radius:5px 5px 0 0 !important;
  -moz-border-radius:5px 5px 0 0 !important;
  -webkit-border-radius:5px 5px 0 0 !important;
  -o-border-radius:5px 5px 0 0 !important;
  -ms-border-radius:5px 5px 0 0 !important;
  padding: 0.6em;
  margin: 0;
  font-weight: bold;
  background-color: #eee;
}
.answer {
  border: 1px solid #eee;
  border-top: 0;
  padding: 0 0.6em;
  margin: 0 0 1em 0;
  box-sizing: border-box;
  overflow: auto;
}

.plans {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
  flex-direction: column;
  padding: 0;
  border: 0;
  margin: 1em auto;
  max-width: 1190px;
}

.plans > div {
  border-radius:5px !important;
  -moz-border-radius:5px !important;
  -webkit-border-radius:5px !important;
  -o-border-radius:5px !important;
  -ms-border-radius:5px !important;
  border: 1px solid #eaecef;
  border-color: #eaecef !important;
  box-shadow: 0 8px 24px rgba(149,157,165,.2) !important;
  background-color: #fff;
  padding: 1em;
  margin: 0.6em 0.4em;
  flex-grow: 1;
  display: flex !important;
  justify-content: space-between !important;
  flex-direction: column !important;
}

.plans > div h3 {
  text-align: center;
  color: $header-color;
}
.plans > div p {
  text-align: center;
}

.plans ul li span {
  font-size: 0.9em;
  font-style: italic;
  color:$medium-grey;
}
.flex-item-1 {
	flex: 1;
}
.position-relative {
    position: relative !important;
}
.flex-auto {
    flex: auto !important;
}
.infinity::before {
  content: "\221E ";
  color: #2ebc4f !important;
  font-weight: bold;
}
.leftwards-arrow::before {
  content: "\2190 ";
  color: #2ebc4f !important;
  font-weight: bold;
}
.check-mark::before {
  content: "\2713 ";
  color: #2ebc4f !important;
  font-weight: bold;
}

.plans > div p.price {
  margin-top: 2em;
}
.plans > div p.price span {
  font-family: sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.plans a.button {
  background-color: #1074e7;
  color: #fff;

  border-radius:5px !important;
  -moz-border-radius:5px !important;
  -webkit-border-radius:5px !important;
  -o-border-radius:5px !important;
  -ms-border-radius:5px !important;
  border: 0;

  width: 100%;
  margin: 1em auto 0.6em;
  display: inline-block;
  text-align: center;
  padding: 1em;
}

.plans a.button:hover {
  background-color: #0d63c6;
}

div.form_contact label {
  display: block;
  margin: 1em 0 0.6em 0;
}

div.form_contact form div {
  margin: 1em auto 1em;
  max-width: 500px;
}

div.form_contact input[type="text"],
div.form_contact input[type="email"] {
  width: 100%;
  height: 48px;
  border-radius:5px !important;
  -moz-border-radius:5px !important;
  -webkit-border-radius:5px !important;
  -o-border-radius:5px !important;
  -ms-border-radius:5px !important;
  border: 1px solid #eaecef;
  border-color: #eaecef !important;
  box-shadow: 0 8px 24px rgba(149,157,165,.2) !important;
  background-color: #fff;
  background: #fff;
  padding: 0px 25px;
  font-size: 16px;
}

div.form_contact form button {
  height: 48px;
  padding: 0.64em;
  color: #ffffff;
  background-color: #38495e;
  background-color: #1074e7;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  font-weight: bold;
  margin: 0 0 0 0.4em;
}

div.form_contact form button:hover {
  background-color: #38495e;
  background-color: #0d63c6;
  color: #ffffff;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

@media only screen and (min-width: 700px) {

.middle {
  padding: 0;
}

.about-us > div {
  width: 50%;
}
.about-us > img {
  max-width: 40%;
}

.our-values {
  flex-direction: row;
}


.plans {
  flex-direction: row;
}

}
