footer {
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  text-align: center;
}

footer ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 1em;
}
footer ul li {
  padding: 0.42em;
}

footer a {
  color: $link-color;
}
footer a.hover {
  color: $link-hover-color;
}

footer > section {
  width: 1246px;
  padding: 1em;
  margin: 0 auto;
}

footer section.newsletter {
  background-color: $header-color;
  color: #fff;
  width: 100%;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items:center;
  align-content: center;
}
footer section.newsletter svg {
  height: 45px;
  margin: 1.62em 0 1em;
}
footer section.newsletter h2 {
  font-weight: 400;
  margin: 0 1em;
}
footer section.newsletter div {
  margin: 0;
}
footer section.newsletter input[type="text"] {
  width: 315px;
  height: 48px;
  border-radius: 6px;
 // border: solid 1px #ffffff;
  background: transparent;
  background: #38495e;
  padding: 0px 25px;
  font-size: 16px;
  color: #ffffff;
}

footer section.newsletter form button {
  width: 150px;
  height: 48px;
  color: #50f;
  color: #1d2e49;
  color: #38495e;
  background: #ffffff;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  font-weight: bold;
  margin: 0 0 0 0.4em
}
footer section.newsletter form button:hover {
  background: #50f;
  background: #38495e;
  color: #ffffff;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}
footer section.newsletter form button:hover {
    border: 2px solid #ffffff
}

footer section.copy {
  border-top: 1px solid #ccc;

  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items:center;
  align-content: center;
}

footer h2 {
  color: #fff;
}
