header {
  padding: 0;
  margin: 1em 0;
  color: $header-color;
  background-color: #fff;
}

header nav img {
  height: 36px;
}

header ul {
  list-style: none;
}
header ul li {
  text-align: center;
}
header ul li a {
  color: $header-color;
  display: block;
  margin: 0;
  font-weight: 400;
  padding: 1em;
  text-decoration: none;
  border-bottom: 2px solid #fff;
}
header ul li a.logo {
  padding: 0 2em;
}

header ul li a.menuitem:hover {
  color: $dark-header-color;
  text-decoration: none;
}

header ul li a.cta, header ul li a.login {
  border: 0;
  background-color: #fff;
  color: $header-color;
  letter-spacing: 0.1em;
}
header ul li a.cta {
  background-color: $header-color;
  border-bottom: 2px solid $header-color;
  color: #fff;
}
header ul li a.cta:hover {
  background-color: $dark-header-color;
  border-bottom: 2px solid $dark-header-color;
  color: #fff;
  text-decoration: none;
}
header ul li a.login {
  border-left: 1px solid #eee;
  border-bottom: 2px solid #fff;
}
header ul li a.login:hover {
  color: $dark-header-color;
  text-decoration: none;
  border-bottom: 2px solid $dark-header-color;
}

header div.hero-module {
  background-color: $dark-header-color;
  background-color: #dae1e9;
  padding: 1em;
}
header div.hero-module > div {
  margin: 0;
}

header div.hero-module h1 {
  line-height: 1em;
  margin: 0;
}

header div.header-post {
  border-top: 1px solid #eee;
  padding: 2em 0;
}
header div.header-post > div {
  margin: 1em auto;
  max-width: 1180px;
}

header div.header-post h1 {
  margin: 0 !important;
}

header h1 {
  color: $header-color;
  font-size: 3.4em;
  line-height: 1em;
  margin: 1em 0;
}

header h2 {
  color: $dark-header-color;
  font-size: 1.4em;
  font-weight: 500;
}

header h2 span {
  color: $header-color;
}

@media only screen and (min-width: 700px) {

header {
  padding: 0;
  margin: 0;
}
header nav {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items:center;
  align-content: center;
  margin: 0;
  padding: 0;
  border: 0;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header ul li a {
  padding: 1.6em;
}

header ul li a.menuitem:hover {
  border-bottom: 2px solid $dark-header-color;
}


header div.hero-module {
  background-color: $dark-header-color;
  background-color: #dae1e9;
  padding: 2em 0;
}
header div.hero-module > div {
  color: #fff;
  margin: 0 auto;
  width: 1180px;
}

header div.hero-module h1 {
  text-transform: uppercase;
  text-transform: capitalize;
}

}
