div.modules {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items:center;
  align-items: stretch;
  max-width: 900px;
  margin: 1.6em auto;
}

div.modules > div {
  margin: 1em auto;
  text-align: center;
  width: 300px;
}

div.modules svg {
  color: #1d2e49;
  height: 60px;
  margin: 0 0 1em 0;
}

h2.home {
  padding-top: 2em;
}
h2 span {
  color: $header-color;
}

div.info {
  background-color: #dae1e9;
  padding: 1em;
}

div.info > div {
  background-color: #fff;
  box-shadow: 4px 4px 20px 0 rgba(120,135,182,.12);
  max-width: 700px;
  margin: 2em auto;
  padding: 1em;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.info img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin-right: 1em;
}
div.info img:hover {
  opacity:0.9;
}

div.info .name {
  font-weight: 500;
  font-size: 1.1em;
}
div.info .occupation {
  color: #7e7e7e;
  padding: 0.3em 0 0.6em;
  font-style: italic;
}

div.home_contact {
  background: url("../images/home-contact.jpg");
  color: #fff;
  padding: 1em 0;
}

div.home_contact h2 {
  color: #fff;
}

div.home_contact label {
  display: block;
  margin: 1em 0 0.6em 0;
}

div.home_contact form div {
  margin: 1em auto 1em;
  max-width: 300px;
}

div.home_contact input[type="text"],
div.home_contact input[type="email"] {
  width: 315px;
  height: 48px;
  border-radius:5px !important;
  -moz-border-radius:5px !important;
  -webkit-border-radius:5px !important;
  -o-border-radius:5px !important;
  -ms-border-radius:5px !important;
  border: solid 1px #ffffff;
  background: transparent;
  padding: 0px 25px;
  font-size: 16px;
  color: #ffffff;
}

div.home_contact form button {
  height: 48px;
  padding: 0.64em;
  color: #38495e;
  background: #ffffff;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  font-weight: bold;
  margin: 0 0 0 0.4em;
}

div.home_contact form button:hover {
  background: #38495e;
  color: #ffffff;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  border: 1px solid #ffffff;
}
